- content_for :title, t('.title')

.row
  .col-xs-12.col-md-6
    %h2= t(".title")
  .col-xs-12.col-md-6
    .pull-right
<% if admin_enabled? -%>
      = link_to t('.new'), new_admin_<%= singular_controller_routing_path %>_path, :class => 'btn btn-sm btn-primary' if can? :create, <%= model_name %>
<% else -%>
      = link_to t('.new'), new_<%= singular_controller_routing_path %>_path, :class => 'btn btn-sm btn-primary' if can? :create, <%= model_name %>
<% end -%>

.row
  .col-xs-12
    - if @<%= plural_resource_name %>.blank?
      %p.alert.alert-notice= t(".empty")
    - else
      %table.table.table-striped
        %thead
          %tr
            <%- attributes.each do |attribute| -%>
            %th= <%= resource_name.classify %>.human_attribute_name(:<%= attribute.name %>)
            <%- end -%>
            %th= t('.actions')
        <%- if sortable? -%>
          - sortable_url = sort_<%= controller_routing_path %>_url
        <%- end -%>
        %tbody{data: { sortable_url: <%= (sortable? ? sortable_url : nil) %> } }
          - @<%= plural_resource_name %>.<%= (sortable? ? 'sorted_by_position.' : nil) %>each do |<%= resource_name %>|
            - data = {}
            <%- if sortable? -%>
            - data[:sortable_position_id] = <%= resource_name %>.id
            <%- end -%>
            <%- if attributes.map(&:name).include?("active") -%>
            %tr{class: <%= resource_name %>.active? ? nil : "text-muted", data: data}
            <%- else -%>
            %tr{data: data}
            <%- end -%>
              <%- attributes.each do |attribute| -%>
              %td= <%= resource_name %>.<%= attribute.name %>
              <%- end -%>
              %td
                <%- if options[:show] -%>
<% if admin_enabled? -%>
                  = link_to t('.show'), admin_<%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-sm btn-primary'
<% else -%>
                  = link_to t('.show'), <%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-sm btn-primary'
<% end -%>
                <%- end -%>
<% if admin_enabled? -%>
                = link_to t('.edit'), edit_admin_<%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-sm btn-primary' if can? :update, <%= resource_name %>
                = link_to t('.destroy'), admin_<%= singular_controller_routing_path %>_path(<%= resource_name %>), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-sm btn-danger' if can? :destroy, <%= resource_name %>
<% else -%>
                = link_to t('.edit'), edit_<%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-sm btn-primary' if can? :update, <%= resource_name %>
                = link_to t('.destroy'), <%= singular_controller_routing_path %>_path(<%= resource_name %>), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-sm btn-danger' if can? :destroy, <%= resource_name %>
<% end -%>
