- content_for :title, t('.title')

.row
  .col-xs-12.col-md-6
    %h2= t(".title")
  .col-xs-12.col-md-6
    .pull-right
<% if admin_enabled? -%>
      = link_to t('.new'), new_admin_<%= singular_controller_routing_path %>_path, :class => 'btn btn-sm btn-primary' if can? :create, <%= model_name %>
<% else -%>
      = link_to t('.new'), new_<%= singular_controller_routing_path %>_path, :class => 'btn btn-sm btn-primary' if can? :create, <%= model_name %>
<% end -%>

.row
  .col-xs-12
    - if @<%= plural_resource_name %>.blank?
      %p.alert.alert-notice= t(".empty")
    - else
      %table.table.table-striped
        %thead
          %tr
            <%- attributes.each do |attribute| -%>
            %th= <%= resource_name.classify %>.human_attribute_name(:<%= attribute.name %>)
            <%- end -%>
            %th= t('.actions')
        %tbody
          - @<%= plural_resource_name %>.each do |<%= resource_name %>|
            <%- if attributes.map(&:name).include?("active") -%>
            %tr{class: <%= resource_name %>.active? ? nil : "text-muted"}
            <%- else -%>
            %tr
            <%- end -%>
              <%- attributes.each do |attribute| -%>
              %td= <%= resource_name %>.<%= attribute.name %>
              <%- end -%>
              %td
                <%- if options[:show] -%>
<% if admin_enabled? -%>
                  = link_to t('.show'), admin_<%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-sm btn-primary'
<% else -%>
                  = link_to t('.show'), <%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-sm btn-primary'
<% end -%>
                <%- end -%>
<% if admin_enabled? -%>
                = link_to t('.edit'), edit_<%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-sm btn-primary' if can? :update, <%= resource_name %>
                = link_to t('.destroy'), <%= singular_controller_routing_path %>_path(<%= resource_name %>), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-sm btn-danger' if can? :destroy, <%= resource_name %>
<% else -%>
                = link_to t('.edit'), edit_<%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-sm btn-primary' if can? :update, <%= resource_name %>
                = link_to t('.destroy'), <%= singular_controller_routing_path %>_path(<%= resource_name %>), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-sm btn-danger' if can? :destroy, <%= resource_name %>
<% end -%>
